node_modules/
*.db
*.db-shm
*.db-wal
.env
npm-debug.log*
uploads/**
!uploads/
!uploads/updates/
!uploads/updates/.gitkeep
!uploads/flock/
!uploads/flock/.gitkeep
!uploads/story/
!uploads/story/.gitkeep
!uploads/reviews/
!uploads/reviews/.gitkeep
